* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-area{
<<<<<<< HEAD
    overflow: hidden;
=======
    width: calc(900vw - 17px);
>>>>>>> 63855bb (ãchagepassword)
}

.main-carousel{
    position: relative;
    top: 70px;
<<<<<<< HEAD
}

.slide-box{
    position: relative;
    left: 0;
    width: 85vw;
    height: 400px;
    float: left;
    margin: 50px 0 50px 0;
    cursor: pointer;
=======
    font-size: 0;
}

.main-carousel .slide-box{
    position: relative;
    display: inline-block;
    left: 0;
    width: 89vw;
    margin: 35px 0.75vw 30px 0.75vw;
    cursor: pointer;
    padding: 10px;
    aspect-ratio: 3.9/1;
>>>>>>> 63855bb (ãchagepassword)
}

.slide-box img{
    position: absolute;
<<<<<<< HEAD
    width: 97%;
=======
    width: 100%;
>>>>>>> 63855bb (ãchagepassword)
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
<<<<<<< HEAD
    border-radius: 10px;
=======
    border-radius: 5px;
>>>>>>> 63855bb (ãchagepassword)
    box-sizing: border-box;
    box-shadow: 4px 17px 15px 0 rgba(5, 6, 7, 0.75);
}

.prev-btn{
    position: absolute;
<<<<<<< HEAD
    top: 50px;
    left: 0;
    width: 121px;
    height: 400px;
=======
    top: 45px;
    left: 0;
    width: 5vw;
    text-align: center;
    height: 22.82vw;
>>>>>>> 63855bb (ãchagepassword)
    border: none;
    border-radius: 10px;
    background: transparent;
}

.next-btn{
    position: absolute;
<<<<<<< HEAD
    top: 50px;
    left: 93.7vw;
    width: 121px;
    height: 400px;
=======
    top: 45px;
    left: 94.4vw;
    text-align: center;
    width: 5vw;
    height: 22.82vw;
>>>>>>> 63855bb (ãchagepassword)
    border: none;
    border-radius: 10px;
    background: transparent;
}