.image-select-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 불투명한 배경 색상 및 투명도 조절 */
    z-index: 9; /* 모달 창 보다 낮은 z-index 값을 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-select-container .select-modal{
    position: relative;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60vw;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    z-index: 5;
    padding: 40px 0;
    text-align: center;
}

.image-select-container .select-modal h3{
    margin: 10px 40px 20px;
    color: white;
    font-weight: bold;
}

.image-select-container .select-modal .modal-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; 
}