<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.BomBom.Repository.mybatis.MemberMapper">

    <!-- C -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member (email, name, email)
        values (#{userid}, #{name}, #{email})
    </insert>

    <!-- R -->

    <!-- 상세정보  -->

    <select id="findById" resultType="Member">
        select id, userid, name, email
        from member
        where id = #{id}
    </select>


    <select id="findAll" resultType="Member">
        select *
        from member
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>

        </where> </select>

    <!-- U -->

    <update id="update" >
        update member
        set userid=#{updateParam.userid},
            name=#{updateParam.name},
            email=#{updateParam.email}
        where id = #{id}
    </update>


    <!-- D -->
    <delete id="delete" >
        delete from member where id = #{id}


    </delete>

</mapper>