<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.BomBom.Repository.mybatis.MemberMapper">

    <!-- C -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">

        insert into member (userid,password, name, email)
        values (#{userid},#{password}, #{name}, #{email})



    </insert>

    <!-- R -->

    <!-- 상세정보  -->

    <select id="findById" resultType="Member">

        select id, userid,password, name, email



        from member
        where id = #{id}
    </select>


    <select id="findAll" resultType="Member">
        select *
        from member
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>

        </where> </select>

    <!-- U -->

    <update id="update" >
        update member
        set userid=#{updateParam.userid},

            password=#{updateParam.password},

            name=#{updateParam.name},
            email=#{updateParam.email}
        where id = #{id}
    </update>


    <!-- D -->
    <delete id="delete" >
        delete from member where id = #{id}


    </delete>




    <select id="MemberCount" resultType="int">
        SELECT COUNT(*) FROM member
    </select>

    <select id="login" resultType="boolean">
        select *
        from member
        where userid = #{userid} AND password = #{password}
    </select>



    <select id="MemberName" resultType="string">
        select name
        from member
        where userid = #{userid}
    </select>



    <select id="Mypage" resultType="Member">
        select userid, name,email
        from member
        where userid = #{userid}
    </select>


    <select id="DupCheck" resultType="string">
        select userid
        from member
        where userid = #{userid}
    </select>


    <select id="multiCheck" resultType="int">
      select multidevice
      select multidevice
      from member
      where userid = #{userid}
    </select>




    <update id="multiAdd">
        UPDATE member
        SET multidevice = multidevice + 1
        SET multidevice = multidevice + 1
        WHERE userid = #{userid}
    </update>


    <update id="multisub">
        UPDATE member
        SET multidevice = multidevice - 1
        SET multidevice = multidevice - 1
        WHERE userid = #{userid}
    </update>

    <update id="EndUpdatedevice">
        UPDATE member
        SET multidevice =
                CASE
                    WHEN multidevice > 0 AND multidevice >= 1 THEN 0
                    ELSE multidevice
                    END
        WHERE id > 0;
    </update>

</mapper>