
.content-slide{
    display: flex;
    float: left;
}

.content-slide .slide-box{
    position: relative;
    width: 17.3vw;
    height: 9.7vw;
    margin: 2.5vw 0.5vw;
    box-shadow : 4px 17px 15px 0 rgba(5, 6, 7, 0.75);
    flex: 0 0 auto; /* Flexbox를 사용하여 가로로 나열 */
    cursor: pointer;
}

.content-slide .slide-box img{
    width: 100%;
    border-radius: 5px;
}