<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>







<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원목록</h2>
    </div>

    <div class="py-5 text-center">
        <h2 th:if="param.delete">삭제 완료</h2>
    </div>
<!--
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/members/add}'|"
                    type="button">회원 등록
            </button>
        </div>
    </div>
-->
    <form th:object="${memberSearch}" method="get" class="form-inline">
    <div class="row">
        <div class="col">
            <input type="text" th:field="*{name}" class="form-control" placeholder="회원이름"/>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-secondary mb-2">검색</button>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/members/add}'|"
                        type="button">회원 등록
                </button>
            </div>

            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/login}'|"
                        type="button">로그인
                </button>
            </div>
        </div>
    </div>

    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a href="member.html" th:href="@{/members/{memberId}(memberId=${member.id})}" th:text="${member.id}">식별id</a>
                </td>
                <td><a href="member.html" th:href="@{|/members/${member.id}|}"th:text="${member.userid}">userid</a></td>


                <td><a href="member.html" th:href="@{|/members/${member.id}|}" th:text="${member.name}">이름</a></td>

                <td th:text="${member.email}">10</td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

</body>
</html>