.login-container{
    margin: 92px auto;
    max-width: 580px;
    min-height: calc(100vh - 460px);
    position: relative;
}

.login-container .brand-logo{
    text-align: center;
    margin-bottom: 20px;
}

.login-container .login-box{
    position: relative;
    border-radius: 24px;
    background-color: white;
    padding: 40px 60px;
}

.login-container .brand-logo img{
    position: relative;
    width: 18vw;
}

.login-container .login-title h2{
    color: #252526;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.3;
}

.login-container > span{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    color: #252526;;
}

.login-container > p > span{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    color: white;
}

.login-container fieldset{
    border: none;
    display: inline;
    margin: 0px 0px 16px;
    padding: 0px;
    position: relative;
    width: 100%;
}

.login-container legend{
    padding: 0px;
    display: none;
}

.login-container fieldset label{
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.46;
    text-transform: none;
    color: #252526
}

.login-container fieldset span{
    position: relative;
    display: block;
}

.login-container fieldset span input{
    font-size: 15px;
    line-height: 1.4;
    backdrop-filter: blur(50px);
    border: 1px solid transparent;
    border-radius: 4px;
    caret-color: rgb(2, 231, 245);
    height: 55px;
    margin: 0px;
    outline: none;
    padding: 7px 12px;
    transition: all 0.1s ease 0s;
    width: 100%;
    background-color: rgb(234, 239, 254);
}

.login-container fieldset span .input-back{
    font-size: 13px;
    line-height: 1.46;
    color: #cacaca;
}

.login-container form .check-box{
    display: block;
    cursor: pointer;
    margin: 0px 8px 16px 28px;
    position: relative;
    padding: 0px;
}

.login-container form .check-box input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.login-container form .check-box .check-icon{
    -webkit-box-align: center;
    align-items: center;
    border: 2px solid rgb(109, 117, 130);
    display: flex;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    left: -28px;
    position: absolute;
    width: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.login-container form .check-box .check-icon .icon{
    color: #0072d2;
}

.login-container form .check-box .check-text{
    font-size: 15px;
    line-height: 1.4;
    color: #cacaca;
    cursor: pointer;
}

.signup-info{
    font-size: 12px;
}


.login-container form .check-box .hide-text{
    font-size: 12px;
    line-height: 1.46;
    color: #cacaca;
    cursor: pointer;
}

.login-container form .button-area{
    display: flex;
}

.login-container form span .icon{
    color: #252526;
}

.login-container form .button-area button{
    background: #0072d2;
    color: #f9f9f9;
    border: 0;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    margin: 0;
}
