.edit-profile{
    position: relative;
    -webkit-font-smoothing: antialiased;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.edit-profile .header{
    background-color: transparent;
    height: 72px;
    border-bottom: none;
    padding: 0 15px;
    z-index: 10;
}

.edit-profile .header .header-logo{
    margin-top: 15px;
}

.edit-profile .header button{
    background: #0072d2;
    color: #f9f9f9;
    position: absolute;
    right: 0;
    margin: 15px 30px 0;
    width: 80px;
    height: 48px;
    border: none;
    border-radius: 5px;
}

.edit-profile .center{
    position: absolute;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 741px;
    width: 100%;
}

.edit-profile .center .center-main{
    text-align: center;
    width: 100%;
}

.edit-profile .center .center-main h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3;
    padding-bottom: 1.5rem;
    color: #f9f9f9;
}

.edit-profile .center .center-main h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    color: #cacaca;
}

.edit-profile .center .center-main .profile-box{
    align-items: flex-start;
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    list-style: none;
    margin: 42px auto;
    padding: 0px;
    width: 100%;
    max-width: 880px;
    animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.profile-box .profile-avatar{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
    padding: 0px;
}

.profile-box .profile-avatar .inner{
    margin: 15px;
}

.profile-box .profile-avatar .inner .inner-img{
    width: 7.6vw;
    height: 7.6vw;
    display: block;
    cursor: pointer;
    position: relative;
    background-color: rgb(249, 249, 249, 0.1);
    border-radius: 50%;
    margin: auto;
    transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.profile-box .profile-avatar .inner .inner-img img{
    background: transparent;
    border-radius: 100%;
    bottom: -4px;
    position: absolute;
    right: -4px;
    z-index: 10;
    height: 48px;
    width: 48px;
}

.profile-box .profile-avatar .inner .inner-img .icon{
    position: absolute;
    top: 1.5vw;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 4.8vw;
    color: #f9f9f9;
    margin: 0 auto;
}

.profile-box .profile-avatar .inner h3{
    margin-top: 25px;
    font-size: 1.7vw;
    font-weight: bold;
    color: #f9f9f9;
}