.content-tab{
    position: relative;
    width: 95vw;
    overflow: hidden;
    margin-top: 50px;
    padding: 0 5vw;
}

.content-tab .tab-box{
    position: absolute;
    width: 100%;
    height: 3vw;
    display: flex;
    float: left;
    border-bottom: 1px solid grey;
}

.tab-box .box{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    padding-bottom: 15px;
    cursor: pointer;
}

.content-tab .episode-list{
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.episode-list .episode-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.episode-list .episode-box .episode{
    display: inline;
}

.episode-list .episode-box .episode button{
    width: 5.5vw;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: transparent;
    margin: 0 5px 5px 0;
}

.content-tab .tab-box-detail{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    top: 3vw;
    min-height: 25vw;
    padding: 1vw 0;
}

.tab-box-detail .tab-info{
    position: relative;
    min-height: 25vw;
    width: 100%;
}

.tab-info .title{
    position: relative;
    width: 100%;
    color: white;
    font-size: 24px;
    padding-bottom: 1vw;
}

.tab-info .detail{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    display: flex;  
    flex-direction: row;
}

.tab-info .detail .box1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 1vw;
    width: 80vw;
    font-size: 0.9vw;
    color: white;
}

.tab-info .detail .box2{
    position: relative;
    margin-right: 1vw;
    width: 40vw;
    color: white;
    flex-direction: column;
}

.tab-info .detail .box2 .etc-info{
    position: relative;
    width: 100%;
    font-size: 0.9vw;
    flex: 1 1 0%;
}

.tab-info .detail .box2 .etc-info:not(:first-child){
    margin-top: 10px;
}


.tab-info .detail .box2 .etc-info h6{
    color: rgb(160, 160, 160);
    font-size: 0.9vw;
    font-weight: bold;
}

.tab-info .detail .box2 .etc-info p{
    position: relative;
    color: white;
}

.tab-info .detail .box2 .etc-info img{
    position: relative;
    color: white;
    height: 1.2vw;
    margin-right: 15px;
}