.content-tab{
    position: relative;
    top: 15vw;
    left: 5vw;
    width: 89vw;
    margin-top: 3vw;
    margin-bottom: 25vw;
}

.content-tab .tab-box{
    position: absolute;
    width: 100%;
    height: 3vw;
    display: flex;
    float: left;
    border-bottom: 1px solid grey;
}

.tab-box .box{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    padding-bottom: 15px;
    cursor: pointer;
}

.content-tab .tab-box-detail{
    position: relative;
    top: 3vw;
    padding: 1vw 0;
}

.tab-box-detail .tab-info{
    position: absolute;
    width: 100%;
}

.tab-info .title{
    position: relative;
    width: 100%;
    color: white;
    font-size: 24px;
    padding-bottom: 1vw;
}

.tab-info .detail{
    position: relative;
    width: 100%;
    display: flex;
    float: left;
}

.tab-info .detail .box1{
    margin-right: 1vw;
    width: 80vw;
    font-size: 18px;
    height: 15vw;
    color: white;
}

.tab-info .detail .box2{
    margin-right: 1vw;
    width: 40vw;
    color: white;
    padding: 0.5vw;
}

.tab-info .detail .box2 .etc-info{
    position: relative;
    margin-bottom: 4vw;
}

.tab-info .detail .box2 .etc-info h6{
    color: rgb(160, 160, 160);
    font-weight: bold;
}

.tab-info .detail .box2 .etc-info p{
    position: absolute;
    top: 2vw;
    color: white;
}

.tab-info .detail .box2 .etc-info img{
    position: absolute;
    top: 2vw;
    color: white;
    width: 2vw;
}